:root {
    --color-gray: #cac0be;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #616365;
    --color-shadow: rgba(34, 37, 41, 0.06);
    --color-dark: #23262A;
    --color-white: #FFFFFF;
    --color-red: #FF7373;
    --max-content-width: 1683px;
    --max-content-width2: 1110px;
}

* {
    font-family: Poppins;
}

.main-layout {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.main-layout2 {
    max-width: var(--max-content-width2);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

//#region Site wide components

nav {

    position: relative;
    user-select: none;
    z-index: 1;
    columns: 3;
    height: 100px;
    column-width: 237px;

    >:nth-child(1), >:nth-child(3) {
        width: 237px;
    }

    .fa {
        font-weight: normal;
    }

    a:not(.logo), button {
        margin-left: 20px;
    }
    
    a {
        font-weight: bold;
    }

}

breadcrumb {
    
    display: block;
    margin-bottom: 40px;
    max-height: 23px;
    
    ul {
        list-style-type: none;
    }

    li {

        margin-left: 16px;
        display: inline;

        &:nth-of-type(n+2)::before {
            content: '>';
            margin-left: -10px;
            margin-right: 10px;
        }

    }

    .fa.fa-home {
        position: absolute;
        
        &:before {
            font-size: 10px;
            display: block;
            position: absolute;
            margin-left: -16px;
            margin-top: 6px;
        }

    }

}

footer {

    position: relative;
    background-color: var(--color-light-gray);
    height: 110px;

    div {
        position: absolute;
        margin: auto;
        margin-top: 24px;
        gap: 10px;
        width: 100%;
    }

    p {
        margin-bottom: 0;
    }

    a {
        height: 22px;
        margin: 9px;

        &:hover {
            scale: 110%;
        }

        &:active {
            scale: 150%;
        }

    }

    .fa-facebook:hover { color: blue; }
    .fa-instagram:hover { color: purple; }
    .fa-twitter:hover { color: deepskyblue; }
    .fa-google:hover { color: red; }
    .fa-linkedin:hover { color: blue; }

}

.logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    display: block;
    width: 103px;
    height: 49px;
    align-self: center;
}

[badge] {

    position: relative;

    &::after {
        content: attr(badge);
        position: absolute;
        top: -4px;
        background-color: var(--color-red);
        border-radius: 100%;
        color: white;
        z-index: 1;
        width: 16px;
        height: 16px;
        font-size: 11px;
        font-family: poppins;
        text-align: center;
        padding-top: 3px;
        padding-left: 0.5px;
    }

}

rating {

    display: block;
    position: relative;
    height: 14px;
    font-size: 20px;
    color: var(--color-red);
    font-family: "Font Awesome 6 Pro";
    font-weight: normal;

    &:after {
        position: absolute;
        top: -8px;
        bottom: 0;
    }

    &.rating-1-stars::after { content: '★☆☆☆☆'; }
    &.rating-2-stars::after { content: '★★☆☆☆'; }
    &.rating-3-stars::after { content: '★★★☆☆'; }
    &.rating-4-stars::after { content: '★★★★☆'; }
    &.rating-5-stars::after { content: '★★★★★'; }

}

//#endregion
//#region Utility

//#region Background

.background-light-gray {
    background-color: var(--color-light-gray);
}

.background-gray {
    background-color: var(--color-gray);
}

.background-model5 {
    background-image: url("../img/img-5.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.background-model6 {
    background-image: url("../img/img-6.svg");
    background-position: right;
    background-repeat: no-repeat;
}

//#endregion
//#region height, width

.height-560 {
    height: 560px;
}

.width-50p {
    width: 50%;
}

.width-635px {
    width: 635px;
}

//#endregion
//#region Margin

.margin-49 {
    margin: 49px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-top-50p {
    margin-top: 50%;
}

//#endregion

.flex-grow-2 {
    flex-grow: 2;
}

.pointer-events-none {
    pointer-events: none;
}

.text-align-center {
    text-align: center;
}

.width-fit-content {
    width: fit-content;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

//#endregion
//#region Buttons

a {
    
    text-decoration: none;
    color: var(--color-dark);
    transition: all 0.1s ease;

    &:hover {
        color: var(--color-red);
    }
    
    &.active {
        color: var(--color-red);
            
        &:hover {
            filter: brightness(80%);
        }

    }

}

button {
    
    border: none;
    font-weight: 500;
    position: relative;
    border: none;
    padding: 24px 51px;
    transition: all 0.1s ease;

}

.button-fancy {

    
    color: white;

    &::before {
        content: ' ';
        left: 10px;
        top: 10px;
        width: 20px;
        height: 20px;

        border-left: 2px solid white;
        border-bottom: 2px solid white;
        position: absolute;
        display: block;
        transition: all 0.5s ease;
        transform: rotate(90deg);
    }

    &::after {
        content: ' ';
        right: 10px;
        bottom: 10px;
        width: 20px;
        height: 20px;
        border-right: 2px solid white;
        border-top: 2px solid white;
        position: absolute;
        display: block;
        transition: all 0.5s ease;
        transform: rotate(90deg);
    }

    &:hover {

        box-shadow: 0px 0px 5px #23262A;

        &::before {
            left: calc(100% - 30px);   
            transform: rotate(180deg);
        }
    
        &::after {
            right: calc(100% - 30px);          
            transform: rotate(180deg);
        }

    }

    &:active {
        scale: 105%;
        box-shadow: 0px 0px 5px #23262A;
    }

}

.button-icon {
    
    background-color: white;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    border: transparent;
    padding: 0;
    box-shadow: 0px 0px 12px 4px #e8e8e8;
    transition: all 0.1s ease;

    &:hover {
        background-color: var(--color-shadow);
        box-shadow: none;
    }

    &:active {
        background-color: var(--color-shadow);
        box-shadow: 0px 0px 12px 4px #e8e8e8;
        scale: 115%;
    }

}

.button-red {
    background-color: var(--color-red);
    color: white;
}

.button-black {
    background-color: var(--color-dark);
    color: white;
}

.button-product {

    img {
        width: 255px;
        height: 210px;
        background-color: var(--color-light-gray);
        border: none;
        outline: none;
    }

}

//#endregion
