:root {
  --color-gray: #cac0be;
  --color-light-gray: #F5F5F5;
  --color-dark-gray: #616365;
  --color-dark: #23262A;
  --color-white: #FFFFFF;
  --color-red: #FF7373;
  --max-content-width: 1683px;
  --max-content-width2: 1110px;
}

* {
  font-family: Poppins;
}

.main-layout {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.main-layout2 {
  max-width: var(--max-content-width2);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  -moz-columns: 3;
       columns: 3;
  height: 100px;
  -moz-column-width: 237px;
       column-width: 237px;
}
nav > :nth-child(1), nav > :nth-child(3) {
  width: 237px;
}
nav .fa {
  font-weight: normal;
}
nav a:not(.logo), nav button {
  margin-left: 20px;
}
nav a {
  font-weight: bold;
}

breadcrumb {
  display: block;
  margin-bottom: 40px;
  max-height: 23px;
}
breadcrumb ul {
  list-style-type: none;
}
breadcrumb li {
  margin-left: 16px;
  display: inline;
}
breadcrumb li:nth-of-type(n+2)::before {
  content: ">";
  margin-left: -10px;
  margin-right: 10px;
}
breadcrumb .fa.fa-home {
  position: absolute;
}
breadcrumb .fa.fa-home:before {
  font-size: 10px;
  display: block;
  position: absolute;
  margin-left: -16px;
  margin-top: 6px;
}

footer {
  position: relative;
  background-color: var(--color-light-gray);
  height: 110px;
}
footer div {
  position: absolute;
  margin: auto;
  margin-top: 24px;
  gap: 10px;
  width: 100%;
}
footer p {
  margin-bottom: 0;
}
footer a {
  height: 22px;
  margin: 9px;
}
footer a:hover {
  scale: 110%;
}
footer a:active {
  scale: 150%;
}
footer .fa-facebook:hover {
  color: blue;
}
footer .fa-instagram:hover {
  color: purple;
}
footer .fa-twitter:hover {
  color: deepskyblue;
}
footer .fa-google:hover {
  color: red;
}
footer .fa-linkedin:hover {
  color: blue;
}

.logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  display: block;
  width: 103px;
  height: 49px;
  align-self: center;
}

.background-light-gray {
  background-color: var(--color-light-gray);
}

.background-gray {
  background-color: var(--color-gray);
}

.height-560 {
  height: 560px;
}

.flex-grow-2 {
  flex-grow: 2;
}

button {
  border: none;
  font-weight: 500;
  position: relative;
  border: none;
  padding: 24px 51px;
  transition: all 0.1s ease;
}

.pointer-events-none {
  pointer-events: none;
}

.button-fancy {
  color: white;
}
.button-fancy::before {
  content: " ";
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  display: block;
  transition: all 0.5s ease;
  transform: rotate(90deg);
}
.button-fancy::after {
  content: " ";
  right: 10px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  position: absolute;
  display: block;
  transition: all 0.5s ease;
  transform: rotate(90deg);
}
.button-fancy:hover {
  box-shadow: 0px 0px 5px #23262A;
}
.button-fancy:hover::before {
  left: calc(100% - 30px);
  transform: rotate(180deg);
}
.button-fancy:hover::after {
  right: calc(100% - 30px);
  transform: rotate(180deg);
}
.button-fancy:active {
  scale: 105%;
  box-shadow: 0px 0px 5px #23262A;
}

.button-icon {
  background-color: white;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  border: transparent;
  padding: 0;
  box-shadow: 0px 0px 12px 4px #e8e8e8;
  transition: all 0.1s ease;
}
.button-icon:hover {
  background-color: #e8e8e8;
  box-shadow: none;
}
.button-icon:active {
  background-color: #e8e8e8;
  box-shadow: 0px 0px 12px 4px #e8e8e8;
  scale: 115%;
}

.button-red {
  background-color: var(--color-red);
  color: white;
}

.button-black {
  background-color: var(--color-dark);
  color: white;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  transition: all 0.1s ease;
}
a:hover {
  color: var(--color-red);
}
a.active {
  color: var(--color-red);
}
a.active:hover {
  filter: brightness(80%);
}

.text-align-center {
  text-align: center;
}

.width-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.width-50p {
  width: 50%;
}

.margin-49 {
  margin: 49px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

[badge] {
  position: relative;
}
[badge]::after {
  content: attr(badge);
  position: absolute;
  top: -4px;
  background-color: var(--color-red);
  border-radius: 100%;
  color: white;
  z-index: 1;
  width: 16px;
  height: 16px;
  font-size: 11px;
  font-family: poppins;
  text-align: center;
  padding-top: 3px;
  padding-left: 0.5px;
}/*# sourceMappingURL=general.css.map */