@import "_variables";

* {
    font-family: Poppins;
}

.main-layout {
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
}

.not-found {
    height: calc(100vh - var(--nav-height) - (var(--footer-height) * 2));
}

a {
    
    text-decoration: none;
    color: var(--color-dark);
    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
        color: var(--color-red);
    }
    
    &.active {
        color: var(--color-red);
            
        &:hover {
            filter: brightness(80%);
        }

    }

    &.underline {
        text-decoration: underline;
    }
    
}

button {
    
    border: none;
    font-weight: 500;
    position: relative;
    border: none;
    padding: 24px 51px;
    transition: all 0.1s ease;

}

p {
    margin: 0;
}

section {

    margin-top: 44px;
    margin-bottom: 44px;
    text-align: center;

}