//#region Color / Background

.color-white {
    color: white;
}

.color-gray {
    color: #616365;
}

.background-light-gray {
    background-color: var(--color-light-gray);
}

.background-gray {
    background-color: var(--color-gray);
}

.background-dark-gray {
    background-color: var(--color-dark-gray);
}

.background-white {
    background-color: var(--color-white);
}

.background-dark {
    background-color: var(--color-dark);
}

.background-model3 {
    background-image: url("../img/img-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-model4 {
    background-image: url("../img/img-4.svg");
    background-size: cover;
    background-position: right;
}

.background-model5 {
    background-image: url("../img/img-5.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-model6 {
    background-image: url("../img/img-6.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-customer-support {
    background-image: url("../img/customer-support.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.background-credit-card {
    background-image: url("../img/credit-card.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.background-delivery-truck {
    background-image: url("../img/delivery-truck.svg");
    background-position: center;
    background-repeat: no-repeat;
}

//#endregion
//#region height / width

.height-60 { height: 60px !important; }
.height-232 { height: 232px; }
.height-400 { height: 400px; }
.height-403 { height: 403px; }
.height-560 { height: 560px; }
.height-670 { height: 670px; }

.height-100p { height: 100%; }

.width-60 { width: 60px !important; }
.width-490 { width: 490px; }
.width-635 { width: 635px; }
.width-255 { width: 255px; }

.width-50p { width: 50%; }
.width-100p { width: 100%; }

.max-width-342 { max-width: 342px; }

//#endregion
//#region Padding / Margin

.mb-80 {
    margin-bottom: 80px;
}

.padding-0 { padding: 0px !important; }
.padding-8 { padding: -8px !important; }
.padding-50 { padding: 50px; }
.padding-64 { padding: 64px; }

.margin-0 { margin: 0px; }
.margin-49 { margin: 49px; }
.margin-30 { margin: 30px; }

.margin-vertical-30 { margin-top: 30px; margin-bottom: 30px; }

.margin-top-50p { margin-top: 50%; }
.margin-top-90 { margin-top: 90px; }

.margin-bottom-26 { margin-bottom: 26px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-34 { margin-bottom: 34px; }
.margin-bottom-100 { margin-bottom: 100px; }

.margin-left-0 { margin-left: 0px; }
.margin-left-32 { margin-left: 32px; }

//#endregion
//#region Alignment

.align-bottom {
    position: absolute;
    bottom: 0;
}

.align-right {
    position: absolute;
    right: 0;
}

//#endregion

.gap-10 {
    gap: 10px;
}