nav {
    
    position: sticky;
    top: 0;
    user-select: none;
    z-index: 1;
    padding-left: 22px;
    padding-right: 22px;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease-out;

    .main-layout {
        width: 100%;
        display: flex;
        height: var(--nav-height);
        columns: 3;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &.top {
        background-color: transparent;
        box-shadow: none;
    }

    .fa {
        font-weight: normal;
    }
    
    a:not(.logo), button {
        margin-left: 20px;
    }
    
    a {
        font-weight: bold;
    }

    .container {
        width: 100%;
        
        &:last-child { text-align: end; }

    }
    
    @media only screen and (max-width: 1000px)  {
        padding: 0 !important;
        margin-top: 0;
        max-width: 100vw !important;
        align-items: start;
        margin: 0;

        .button-icon {
            margin-right: 22px;
        }

    }
    
}

.mobile-menu {
    position: absolute;
    top: 64px;
    right: 22px;
    text-align: center;
    font-weight: bolder;
    background-color: var(--color-light-gray);
    border-color: var(--color-dark);
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 12px;
    width: 200px;
    z-index: 1;

    >div {
        display: flex;
        flex-direction: column;
    }

}

.logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: -12px;
    display: block;
    height: 49px;
    align-self: center;
}
