.button-product {
    width: 255px;
    text-align: center;
    position: relative;
    padding: 0;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease;
    font-size: 16px;

    img {
        width: 100%;
        margin: 0;
        height: 210px;
        background-color: var(--color-light-gray);
        border: none;
        outline: none;
        object-position: center;
        object-fit: cover;
    }

    p>:first-of-type {
        margin-top: 8px;
        font-size: 13px;
        font-weight: normal;
        color: #616365;
    }

    >p {
        font-weight: bold;
    }

    .hover-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 210px;
        background-color: #707070AA;
        opacity: 0;
        transition: all 0.1s ease;
    }

    &:hover {
        .hover-box {
            opacity: 1;
        }
    }

    &:active {
        scale: 105%;
    }

    >div>a>button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .icon-buttons {
        position: absolute;
        right: 0;
        top: 0;
    }

    .button-icon {
        margin-top: 10px;
        margin-right: 10px;
        font-weight: normal;
    }

    &.small {
        width: 351px;
        text-align: left;
    
        img {
            width: 160px;
            height: 132px;
            padding: 0;
        }
    
        .hover-box {
            left: 0;
            top: 0;
            bottom: 0;
            width: 160px;
            height: 100%;
            background-color: #707070AA;
            transition: all 0.1s ease;
        }
    
    }

}
