nav {
    
    position: relative;
    user-select: none;
    z-index: 1;
    columns: 3;
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    
    .fa {
        font-weight: normal;
    }
    
    a:not(.logo), button {
        margin-left: 20px;
    }
    
    a {
        font-weight: bold;
    }

    div {
        width: 100%;

        &:last-child { text-align: end; }

    }
    
    @media only screen and (max-width: 1683px)  {
        padding: 0 !important;
        margin: 22px !important;
        max-width: 100vw !important;
        text-align: end;
    }
    
}

.mobile-button {
    display: none;

    @media only screen and (max-width: 100px)  {
        display: block;
    }
    
}

.logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    display: block;
    height: 49px;
    align-self: center;

}
